body{
    margin:0;
    padding-top:800px;
    text-align: center;
}
.profile{
    width:175px;
    margin-bottom:50px;
    border-radius:50%;
}
#welcome{
    position: absolute;
    overflow: hidden;
    height: 800px;
    color: #ffffff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    background: linear-gradient(#03f0fc 0%,#2803fc 100%);
    display:table;
    width:100%;
    height: 100%;
    z-index: 9;
}
#name{
    font-family: 'Train One', cursive;
    font-size: 30px;
    line-height: 1.2;
}
.parallax-inner{
    display: table-cell;
    position: relative;
    text-align:center;
    vertical-align: middle;
}
#bio{
padding: 50px;
    text-align: center;
    font-size: 42px;
}
.line{
height:6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
    
}
.links{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    float: left;
    color: #ffffff;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
}
.links:hover {
    background-color: #ffffff;
}
.menu{
    list-style:none;
    font-family:sans-serif;
    position:fixed;
    top: 10px;
    right:30px;
    cursor: pointer;
    z-index: 10;
}
a{
    text-decoration: none;  
}
.article:hover{
    color:#0ce805;
}
html{
    scroll-behavior: smooth;
}